body{
	font-size : 9.5pt;
	background-color: #ffffff;
	line-height : 140%;
	text-align: justify;
	text-justify: inter-word;
	font-family : "Courier New", monospace;
	width : 80%;
	margin: auto;
	padding: 5px;
	color: black;
}
nav{
	font-size: 10pt;
}
h1{
	font-size: 12pt;
}
h2{
	font-size: 11pt;
}

footer{
	text-align:center;
	font-size:80%;
}
img{
	max-width:100%;
	height:auto;

}
table {
  width: 70%; /* Equivalent to width="70%" */
    border-collapse: collapse; /* Equivalent to cellspacing="0" */
    }

td,th {
      padding: 3px; /* Equivalent to cellpadding="3" */
        border: 1px solid black; /* Example border, adjust as needed */
	}
