body	{
	font-size : 9.5pt;
	background-color: #121212;
	line-height : 140%;
	text-align: justify;
	text-justify: inter-word;
	font-family : monospace;
	width : 80%;
	margin: auto;
	padding: 5px;
	color:#F5F5F5 ;
	}

nav	{
	font-size: 10pt;
	color: #00FF00;
	}

h1	{
	font-size: 12pt;
	color: #00FFFF;
	}
	
h2	{
	font-size: 11pt;
	color: #00FFFF;
	}

a 	{
        color: #FFFF00; 
	}

footer	{
	text-align:center;
	font-size:80%;
	}
	
img	{
	max-width:100%;
	height:auto;
	}

table 	{
  	width: 70%; 
	border-collapse: collapse; 
    	}

td,th 	{
      	padding: 3px; 
	}
	
